<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/userStyle.css}">

    <title>Регистрация</title>
</head>

<body class="body">
<div class="wrapper">
    <section class="main">
        <form class="main__content" th:action="@{/users/register}" method="post">
            <p th:if="${error}" th:text="${error}"></p>
            <div class="main__content__logo">
                <img class="main__content__logo__img" th:src="@{/img/logo.svg}" alt="#">
                <p class="main__content__logo__text">TO-DO</p>
            </div>
            <p>Введите имя пользователя</p>
            <input type="text" class="form-control" id="name" name="name" placeholder="Иван" maxlength="20"
                   required>
            <p>Введите почту</p>
            <input type="email" class="form-control" id="login" name="login" placeholder="ivan@mail.ru" required>
            <p>Введите пароль</p>
            <input type="password" class="form-control" id="password" name="password" maxlength="16" required>
            <button class="main__content__button" type="submit">Зарегистрироваться</button>
            <a th:href="@{/users/login}">Отмена</a>
        </form>
    </section>
</div>
</body>
</html>