.main__content__head {
    display: flex;
    justify-content: space-between;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-bottom: 1px solid var(--bg-blue-light-color);
}

.main__content__info {
    margin-right: 30px;
    line-height: 13px;
}

.main__content__info>span, .main__content__info>p>span {
    font-size: var(--font-size-extra-light);
}

.main__content__name {
    width: calc(100% - 338px);
    height: 32px;
}

.main__content__name>textarea {
    margin-left: 25px;
    padding-left: 5px;

    width: 100%;

    resize: none;
    height: 32px;

    border: none;

    box-shadow: 0px 0px 0px 1px var(--bg-blue-light-color);

    font-family: var(--font-family-main);
    font-weight: 600;
}

.main__content__name>textarea:focus {
    outline: none;
    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}

.main__content__text {
    height: calc(100% - 62px);
}

.main__content__text>textarea {
    margin-left: 10px;
    padding: 0px 10px 10px 10px;

    resize: none;
    width: calc(100% - 12px);
    height: 100%;

    border: none;
    border-bottom-left-radius: 10px;

    box-shadow: 0px 0px 0px 1px var(--bg-blue-light-color);

    font-family: var(--font-family-main);
    font-weight: 300;
    line-height: 35px;
    text-align: justify;
}

.main__content__text>textarea:focus {
    outline: none;
    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}

@media (max-width: 900px) {
    .main__content__name {
        width: calc(100% - 120px);
        height: 64px;
    }

    .main__content__info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-right: 0px;
    }

    .main__content__name>textarea {
        margin-left: 0px;

        height: 100%;

        border-top-left-radius: 10px;

        width: calc(100%);
    }

    .main__content__text {
        height: calc(100% - 95px);
    }
}