.main__content__table {
    width: 100%;

    border-collapse: collapse;
}

.main__content__table>tbody>tr {
    cursor: pointer;
}

.main__content__table>tbody>tr>td {
    border-bottom: 1px solid var(--bg-gray-light-color);

    font-size: var(--font-size-tiny);
}

.main__content__table>tbody>tr:hover {
    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}

.main__content__table>tbody>tr>td {
    padding: 5px 10px;
}