.main {
    align-items: center;
    justify-content: center;

    width: 100%;
}

.header {
    display: none;
}

.main__content__logo {
    display: flex;

    margin-bottom: 15px;
}

.main__content__logo__text {
    padding-top: 3px;
    padding-left: 10px;

    font-family: var(--font-family-header);
    font-size: var(--font-size-light);
}

.main__content__logo__img {
    width: 35px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: unset;
    padding: 20px;
    box-sizing: border-box;

    margin: 0 40%;
    height: unset;

    font-size: var(--font-size-light);
    color: var(--dark-blue-color);

    overflow-y: unset;

    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}

.main__content>p {
    align-self: flex-start;

    font-size: var(--font-size-extra-light);
    color: var(--bg-gray-light-color);
}

.main__content>input {
    margin-bottom: 15px;

    padding: 0px 5px;

    border-radius: 10px;

    font-family: var(--font-family-main);
    font-size: var(--font-size-tiny);
    font-weight: 600;
}

.main__content__button {
    margin-bottom: 10px;
    padding: 0px 10px;

    width: 100px;

    border-radius: 10px;

    font-size: var(--font-size-tiny);
    background-color: var(--green-color);
}

.main__content__button:hover {
    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}

.main__content>a {
    margin-top: 5px;
    padding: 0px 10px;

    border-radius: 15px;

    background-color: var(--bg-blue-light-color);

    font-family: var(--font-family-main);
    font-size: var(--font-size-tiny);
    color: var(--dark-blue-color);
}

.main__content>a:hover {
    box-shadow: 0px 1px 5px 0px var(--schadow-gray-color);
}