.main__content__head {
    display: flex;
    justify-content: space-between;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 25px;

    border-bottom: 1px solid var(--bg-blue-light-color);
}

.main__content__head__name {
    width: calc(100% - 338px);
    height: 32px;
}

.main__content__head__name>span {
    margin-left: 5px;
}

.main__content__head__priority>span {
    margin-left: 14px;
    margin-right: 17.58px;
}

.main__content__head__info {
    line-height: 13px;
}

.main__content__head__info>span, .main__content__head__info>p>span {
    font-size: var(--font-size-extra-light);
}

.main__content__categories {
    display: flex;
    justify-content: flex-start;

    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 25px;
}

.main__content__categories__current {
    display: flex;

    height: 24px;

    text-decoration: none;

    list-style-type: none;
}

.main__content__categories__current__element {
    display: flex;

    margin-right: 10px;
    padding: 0px 15px 0px 15px;

    height: 24px;

    border-radius: 10px;

    background-color: var(--green-color);
}

.main__content__categories__current__element>span {
    display: block;

    font-size: var(--font-size-extra-light);
}

.main__content__head__text {
    margin-left: 20px;
    margin-right: 12px;

    font-family: var(--font-family-main);
    font-weight: 300;
    line-height: 35px;
    text-align: justify;
}