@font-face {
    font-family: "Orbitron Medium";
    src: url("../fonts/Orbitron-Medium.ttf");
}

@font-face {
    font-family: "Ysabeau Office";
    src: url("../fonts/YsabeauOffice-SemiBold.ttf");
}

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --dark-blue-color: #1C274C;

    --bg-blue-pastel-color: #37494d;
    --bg-blue-light-color: #B7C8D0;
    --bg-gray-light-color: #808080;

    --schadow-gray-color: #313131;

    --font-family-main: 'Ysabeau Office', sans-serif;
    --font-family-header: 'Orbitron Medium', sans-serif;

}

/* Общие */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: x-large;
    text-decoration: none;
}

html {
    height: 100vh;
}

.body {
    display: block;

    width: 100%;
    height: 100vh;

    background-color: var(--bg-blue-pastel-color);

    font-family: 'Ysabeau Office';
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;

    width: 80%;
    height: 100vh;
    top: 0;
    left: 10%;
    box-sizing: border-box;

    margin: auto;
    padding: 10px;

    background-color: var(--bg-blue-light-color);
}

/* Хедер */

.header {
    display: flex;
    justify-content: space-between;

    padding-left: 15px;

    width: 100%;

    background-color: var(--bg-blue-light-color);
}

.header__logo {
    display: flex;
}

.header__logo__img {
    width: 70px;
}

.header__logo__text {
    padding-top: 3px;
    padding-left: 10px;

    font-family: var(--font-family-header);
    font-size: 50px;
}

.header__registration {
    display: flex;
}

.header__registration__block {
    display: flex;

    margin-right: 25px;
    padding: 0px 10px 0px 10px;
}

.header__registration__block>p {
    padding-top: 17px;

    color: var(--dark-blue-color);
}

.header__registration__block:hover {
    border-radius: 35px;

    background-color: var(--white-color);
}

.header__registration__img {
    width: 50px;
}

.header__registration__button {
    padding: 6px 10px 0px 10px;
    margin-right: 15px;

    border: none;

    background-color: transparent;

    cursor: pointer;
}

.header__registration__button:hover {
    border-radius: 35px;

    background-color: var(--white-color);
}

/* Навигация */

.nav {
    width: 200px;
    background-color: var(--bg-blue-light-color);
}

.nav__menu {
    margin-top: 10px;
}

.nav__menu__list {
    margin-bottom: 20px;

    text-decoration: none;

    list-style-type: none;
}

.nav__menu__list>li {
    margin-bottom: 5px;
}

.nav__menu__list>li:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: var(--white-color);
}

.nav__menu__list>li>a {
    display: flex;
    justify-content: flex-start;

    padding: 5px;
}

.nav__menu__list>li>a>img {
    padding-left: 5px;

    width: 35px;
}

.nav__menu__list>li>a>p {
    padding-left: 5px;

    color: var(--dark-blue-color);
}

/* Рабочая область */

.main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100% - 79px);
}

.main__content {
    flex: 1;

    height: 100%;
    box-sizing: border-box;

    margin: 10px 10px 0px 0px;

    border-radius: 15px;

    background-color: var(--white-color);
    overflow-y: scroll;
}

.main__content::-webkit-scrollbar {
    width: 15px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background: var(--white-color);
}

.main__content::-webkit-scrollbar-thumb {
    max-height: 40px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: gray;
}

@media (max-width: 1232px) {

    /* Хедер */

    .header__registration__button {
        display: none;
    }

    /* Навигация */

    .nav {
        width: 50px;
    }

    .nav__menu__list>li>a>p {
        display: none;
    }
}