@font-face {
    font-family: "Orbitron Medium";
    src: url("../fonts/Orbitron-Medium.ttf");
}

@font-face {
    font-weight: 600;
    font-family: "Ysabeau Office";
    src: url("../fonts/YsabeauOffice-SemiBold.ttf");
}

@font-face {
    font-weight: 300;
    font-family: "Ysabeau Office";
    src: url("../fonts/YsabeauOffice-Light.ttf");
}

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --red-color: #F14739;
    --green-color: #6ED332;
    --dark-blue-color: #1C274C;

    --bg-blue-pastel-color: #37494d;
    --bg-blue-light-color: #B7C8D0;
    --bg-gray-light-color: #808080;

    --schadow-gray-color: #313131;

    --font-family-main: 'Ysabeau Office', sans-serif;
    --font-family-header: 'Orbitron Medium', sans-serif;

    --font-size-extra-light: 15px;
    --font-size-tiny: 20px;
    --font-size-light: 24px;
    --font-size-medium: 35px;
    --font-size-height: 50px;
    --font-size-h4: 32px;
    --font-size-h3: 36px;
    --font-size-h2: 48px;
    --font-size-h1: 58px;
}

/* Общие */

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-size: var(--font-size-light);
    text-decoration: none;
}

html {
    height: 100vh;
}

button {
    background: none;
    border: none;
    padding: 0;

    font-family: var(--font-family-main);
    font-weight: 600;
}

.body {
    display: block;

    width: 100%;
    height: 100vh;

    background-color: var(--bg-blue-pastel-color);

    font-family: var(--font-family-main);
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;

    width: 80%;
    height: 100vh;
    top: 0;
    left: 10%;
    box-sizing: border-box;

    margin: auto;
    padding: 10px;

    background-color: var(--bg-blue-light-color);
}

/* Хедер */

.header {
    display: flex;
    justify-content: space-between;

    padding-left: 15px;

    width: 100%;

    background-color: var(--bg-blue-light-color);

    text-decoration: none;
}

.header>a {
    text-decoration: none;
    color: var(--black-color);
}

.header__logo {
    display: flex;
}

.header__logo__img {
    width: 70px;
}

.header__logo__text {
    padding-top: 3px;
    padding-left: 10px;

    font-family: var(--font-family-header);
    font-size: var(--font-size-height);
}

.header__registration {
    display: flex;
}

.header__menu__button {
    padding: 6px 10px 0px 10px;
    margin-right: 15px;

    border: none;

    background-color: transparent;

    cursor: pointer;
}

.header__menu__button:hover {
    border-radius: 35px;

    background-color: var(--white-color);
}

.header__menu__button__img {
    padding-top: 4px;

    width: 50px;
}

/* Навигация */

.nav {
    width: 200px;
    background-color: var(--bg-blue-light-color);
}

.nav__menu {
    margin-top: 10px;
}

.nav__menu__list {
    margin-bottom: 11px;
    padding-bottom: 9px;

    border-bottom: 1px solid var(--dark-blue-color);

    text-decoration: none;

    list-style-type: none;
}

.nav__menu__list>li {
    margin-bottom: 5px;
}

.nav__menu__list>li:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: var(--white-color);
}

.nav__menu__list>li>a, .nav__menu__list>li>button {
    display: flex;
    justify-content: flex-start;

    padding: 5px;
}

.nav__menu__list>li>a>img, .nav__menu__list>li>button>img {
    padding-left: 5px;

    width: 35px;
}

.nav__menu__list>li>a>p, .nav__menu__list>li>button>p {
    padding-left: 5px;

    color: var(--dark-blue-color);
}

.active {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: var(--white-color);
}

/* Рабочая область */

.main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: calc(100% - 79px);
}

.main__content {
    flex: 1;

    height: 100%;
    box-sizing: border-box;

    margin: 10px 10px 0px 0px;

    border-radius: 15px;

    background-color: var(--white-color);
    overflow-y: scroll;
}

.main__content::-webkit-scrollbar {
    width: 15px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background: var(--white-color);
}

.main__content::-webkit-scrollbar-thumb {
    max-height: 40px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: gray;
}

/* Медиазапросы */

@media (max-width: 1232px) {

    /* Хедер */

    .nav {
        width: 50px;
    }

    .nav__menu__list__name {
        visibility: hidden;
    }

    .header__menu__button {
        display: none;
    }

}

@media (max-width: 579px) {

    /* Хедер */

    .header__logo__img {
        width: 35px;
    }

    .header__logo__text {
        font-size: var(--font-size-light);
    }

    .header__registration__img {
        display: none;
    }

    .header__registration__block>p {
        padding-top: 0px;
    }

    /* Рабочая область */
    .main {
        height: calc(100% - 44px);
    }
}