<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/indexContentStyle.css}">

    <title>Список задач</title>
</head>

<body class="body">
    <div class="wrapper">
        <header th:insert="blocks/header"></header>
        <section class="main">
            <div class="main__content">
                <table class="main__content__table">
                    <tr th:each="task: ${tasks}" th:onclick="|window.location.href='@{/task/one/{taskId}(taskId=${task.id})}'|">
                        <td th:text="${task.id}">Индекс</td>
                        <td th:text="${task.title}">Название таски</td>
                        <td th:text="${{task.created}}">Дата таски</td>
                        <td class="task__state" th:text="${task.done ? 'Готово' : 'Новая'}">Состояние таски</td>
                    </tr>
                </table>
            </div>
            <div class="nav" th:insert="blocks/nav"></div>
        </section>
    </div>
    <script th:src="@{/js/menuCollapseScript.js}"></script>
</body>
</html>