<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{css/indexContentStyle.css}">

    <title>Список</title>
</head>

<body class="body">
    <div class="wrapper">
        <header th:insert="blocks/header"></header>
        <section class="main">
            <div class="main__content">
                <table class="main__content__table">
                    <tr th:onclick="|window.location.href='@{/index/one}'|">
<!--                    <tr onclick="location.href= /*[[@{/index/one}]]*/ '/index/one'">-->
                        <td>1</td>
                        <td>Текст ссылки</td>
                        <td>Другие данные</td>
                        <td>Другие данные</td>
                    </tr>
                </table>
            </div>
            <div class="nav" th:insert="blocks/nav"></div>
        </section>
    </div>
    <script th:src="@{js/menuScript.js}"></script>
</body>
</html>