<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/changeContentStyle.css}">

    <title>Редактировать</title>
</head>

<body class="body">
<form class="wrapper" th:action="@{/task/update}" th:object="${task}" method="post" enctype="multipart/form-data">
    <header th:insert="blocks/header"></header>
    <section class="main">
        <div class="nav" th:insert="blocks/nav"></div>
        <div class="main__content">
            <div class="main__content__head">
                <input type="hidden" id="id" name="id" th:field="*{id}">
                <div class="main__content__name">
                    <textarea type="text" id="title" name="title" th:field="*{title}" placeholder="Введите имя задачи"
                              required></textarea>
                </div>
                <div class="main__content__head__row">
                    <div class="main__content__priority">
                        <label for="priority">Приоритет:</label>
                        <select id="priority" name="priority.id" th:field="*{priority.id}">
                            <option th:each="priority: ${priorities}" th:value="${priority.id}"
                                    th:text="${priority.position}" th:selected="${task.priority.id == priority.id}">
                                Приоритет задачи
                            </option>
                        </select>
                    </div>
                    <div class="main__content__info">
                        <span id="user" name="user" th:field="*{user}" th:text="*{user.name}">Автор</span>
                        <p>
                            <span id="created" name="created" th:text="*{{created}}">00.00.0000, 00:00</span>
                            <span class="task__state" id="done" name="done"
                                  th:text="*{done ? 'Готово' : 'Новая'}">Новая</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="main__content__categories">
                <select class="main__content__categories__list" id="category" name="category" multiple required>
                    <option class="main__content__categories__list__element" th:each="category : ${categories}"
                            th:value="${category.id}" th:text="${category.name}"
                            th:selected="${#lists.contains(task.categories, category)}"></option>
                </select>
                <ul class="main__content__categories__current">
                    <button class="main__content__categories__button" type="button">
                        <img th:src="@{/img/add-circle.svg}">
                        <ul class="main__content__categories__button__select"></ul>
                    </button>
                </ul>
            </div>
            <div class="main__content__text">
                <textarea type="text" id="description" name="description" th:field="*{description}"
                          placeholder="Введите описание задачи"></textarea>
            </div>
        </div>
    </section>
</form>
<script th:src="@{/js/menuCollapseScript.js}"></script>
<script th:src="@{/js/randomColorScript.js}"></script>
<script th:src="@{/js/categoryScript.js}"></script>
</body>
</html>