<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/changeContentStyle.css}">

    <title>Редактировать</title>
</head>

<body class="body">
<form class="wrapper" th:action="@{/index/update}" th:object="${task}" method="post" enctype="multipart/form-data">
    <header th:insert="blocks/header"></header>
    <section class="main">
        <div class="main__content">
            <div class="main__content__head">
                <div class="main__content__name">
                    <textarea type="text" id="description" name="description" th:field="*{description}" placeholder="Введите имя задачи" required></textarea>
                </div>
                <div class="main__content__info">
                    <span id="created" name="created" th:text="*{{created}}">00.00.0000, 00:00</span>
                    <span class="task__state" id="done" name="done" th:text="*{done ? 'Готово' : 'Новая'}">Новая</span>
                </div>
            </div>
            <div class="main__content__text">
                <textarea type="text" placeholder="Введите текст задачи">ЭТО ОКНО ДЛЯ ВВОДА ТЕКСТА ЗАДАЧИ, НО НА ДАННЫЙ МОМЕНТ ВОЗМОЖНОСТЬ НЕ РАБОТАЕТ, ДЛЯ СОЗДАНИЯ ЗАДАЧ ПОЛЬЗУЙТЕСЬ ЗАГОЛОВКАМИ - БУДЬТЕ ЛАКОНИЧНЫ</textarea>
            </div>
        </div>
        <div class="nav" th:insert="blocks/nav"></div>
    </section>
</form>
<script th:src="@{/js/menuCollapseScript.js}"></script>
</body>
</html>