<nav class="nav__menu">
    <ul class="nav__menu__list">
        <li>
            <a th:href="@{/}" th:classappend="${#strings.equals(#httpServletRequest.requestURI, '/') ? ' active' : ''}">
                <img th:src="@{/img/all.svg}" alt="#">
                <p class="nav__menu__list__name">Все</p>
            </a>
        </li>
        <li>
            <a th:href="@{/index/completed}" th:classappend="${#strings.equals(#httpServletRequest.requestURI, '/index/completed') ? ' active' : ''}">
                <img th:src="@{/img/completed.svg}" alt="#">
                <p class="nav__menu__list__name">Выполненные</p>
            </a>
        </li>
        <li>
            <a th:href="@{/index/new}" th:classappend="${#strings.equals(#httpServletRequest.requestURI, '/index/new') ? ' active' : ''}">
                <img th:src="@{/img/new.svg}" alt="#">
                <p class="nav__menu__list__name">Новые</p>
            </a>
        </li>
    </ul>
    <ul class="nav__menu__list" th:unless="${#strings.equalsIgnoreCase(#httpServletRequest.requestURI, '/index/create')}">
        <li>
            <a th:href="@{/index/create}">
                <img th:src="@{/img/add.svg}" alt="#">
                <p class="nav__menu__list__name">Добавить</p>
            </a>
        </li>
    </ul>
    <ul class="nav__menu__list" th:if="${#httpServletRequest.requestURI.startsWith('/index/one/')}">
        <li th:if="${!task.done}">
            <a th:href="@{/index/complete/{taskId}(taskId=${task.id})}">
                <img th:src="@{/img/check.svg}" alt="#">
                <p class="nav__menu__list__name">Выполнено</p>
            </a>
        </li>
        <li>
            <a th:href="@{/index/update/{taskId}(taskId=${task.id})}">
                <img th:src="@{/img/edit.svg}" alt="#">
                <p class="nav__menu__list__name">Редактировать</p>
            </a>
        </li>
        <li>
            <a th:href="@{/index/delete/{taskId}(taskId=${task.id})}">
                <img th:src="@{/img/delete.svg}" alt="#">
                <p class="nav__menu__list__name">Удалить</p>
            </a>
        </li>
    </ul>
    <ul class="nav__menu__list" th:if="${#httpServletRequest.requestURI.startsWith('/index/update/')}">
        <li>
            <button type="submit">
                <img th:src="@{/img/check.svg}" alt="#">
                <p class="nav__menu__list__name">Сохранить</p>
            </button>
        </li>
        <li>
            <a th:href="@{/index/one/{taskId}(taskId=${id})}">
                <img th:src="@{/img/rollback.svg}" alt="#">
                <p class="nav__menu__list__name">Отмена</p>
            </a>
        </li>
    </ul>
    <ul class="nav__menu__list" th:if="${#strings.equalsIgnoreCase(#httpServletRequest.requestURI, '/index/create')}">
        <li>
            <button type="submit">
                <img th:src="@{/img/check.svg}" alt="#">
                <p class="nav__menu__list__name">Сохранить</p>
            </button>
        </li>
        <li>
            <a th:href="@{/}">
                <img th:src="@{/img/rollback.svg}" alt="#">
                <p class="nav__menu__list__name">Отмена</p>
            </a>
        </li>
    </ul>
</nav>