<nav class="nav__menu">
    <ul class="nav__menu__list">
        <li>
            <a href="#">
                <img th:src="@{img/all.svg}" alt="#">
                <p class="nav__menu__list__name">Все</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img th:src="@{img/complete.svg}" alt="#">
                <p class="nav__menu__list__name">Выполненные</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img th:src="@{img/new.svg}" alt="#">
                <p class="nav__menu__list__name">Новые</p>
            </a>
        </li>
    </ul>
    <ul class="nav__menu__list">
        <li>
            <a href="#">
                <img th:src="@{img/add.svg}" alt="#">
                <p class="nav__menu__list__name">Добавить</p>
            </a>
        </li>
    </ul>
</nav>