<div class="wrapper">
    <header th:insert="blocks/header"></header>
    <section class="main">
        <div class="main__content">
            <table class="main__content__table">
                <tr onclick="location.href='google.com'">
                    <td>1</td>
                    <td>Текст ссылки</td>
                    <td>Другие данные</td>
                    <td>Другие данные</td>
                </tr>
            </table>
        </div>
        <header th:insert="blocks/nav"></header>
    </section>
</div>